.retailersContainer {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 660px
}
.singleRetailer {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    border: dashed 2px green;
    margin:.5em;
}
.retailerInfo {
    text-align: left;
    margin: .5em;
    width: 50%
}

.nurseryFlowers {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    
}

.singleDistributor {
    font-size: .75em;
    font-style: italic;
}

